@model GenericProductsViewModel
@{ 
    ViewData["Title"] = "GetGenericDrugs";
}
<h2 class="text-center">Генерици</h2>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Вид</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Generics)
            {
            <tr>
                <td><img src="~/ProductsImages/@product.ImgName" style="height: 100px; width: 100px;" /></td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><a class="btn btn-primary" asp-area="Shop" asp-controller="Products" asp-action="ById" asp-route-id="@product.Id">Към продукта</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_PagesPartial", new Pharmacy.Common.ViewModelWithPages { AllPages = Model.AllPages, CurrentPage = Model.CurrentPage });

