@model ProductsViewModel
@{
    ViewData["Title"] = "ByCategory";
}


@section Styles{
    <link href="~/css/shop-homepage.css" rel="stylesheet" />
}
@if (User.IsInRole("Admin"))
{
    <div class="col-12">
        <a asp-area="Admin" asp-controller="Products" asp-action="Add" class="btn btn-primary float-right my-1 mx-2"><i class="fa fa-plus"></i> Добави продукт</a>
    </div>
}
<div class="px-3">
    <div class="row">
        @(await Component.InvokeAsync<CategoriesComponent>())
        <div class="container col-lg-9 my-5">
            <div class="row">
                @Html.Partial("_Products", Model.Products)
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
</div>

@Html.Partial("_PagesPartial", new ViewModelWithPages { AllPages = Model.AllPages, CurrentPage = Model.CurrentPage })s