@page
@model Pharmacy.Web.Pages.ContactsModel
@{
    ViewData["Title"] = "Contacts";
}
@{
    Layout = "_Layout";
}
<h2 class="text-center">Контакти</h2>

<div>
    <p>Адрес: Град Ямбол, кв.Васил Левски Бл.1</p>
</div>
<div>
    <p>Телефон за връзка: 0000000000</p>
</div>

